In [3]:
# Variable (Unique Identifier) is a container or store 
# Container is just like a box that holds some value

num = 2+3      # After solving it store the value in num,  = assignment operator 
num

5

In [11]:
a=4
b=3
new_num=a+b

new_num

7

# Legal Variable

* letter, underscore, number
* variable won't start from a number

In [12]:
my name = "Ahsan" # Space is not allowed

SyntaxError: invalid syntax (<ipython-input-12-5cbe53d6602b>, line 1)

In [15]:
1nd_name = "Ahsan" # Variable name cannot start from a number

SyntaxError: invalid syntax (<ipython-input-15-6762370a74c6>, line 1)

In [17]:
P_name = "Ahsan"

In [22]:
num=6
type(num)

int

In [26]:
name
type(name)

int

In [25]:
dir(bool)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [28]:
# when text enclosed in double ("") or single('') quotation marks, it becomes a string.

name = "Ahsan"
print(type(name))

<class 'str'>

In [29]:
decimal =2.3  # Main data types in python Integer, float and string
type(decimal)

float

In [32]:
da2 = " "
type(da2)

str

In [58]:
da3 = 
type(da3)

SyntaxError: invalid syntax (<ipython-input-58-15903bf02072>, line 1)

In [59]:
num = 6 
num+7

13

In [60]:
num

6

In [63]:
num = num +7     # Short form of num += 7

In [64]:
num

20

In [66]:
num += 2 
num

24

In [67]:
num /=2

In [69]:
num=24

In [74]:
num/=2
num

6.0

In [75]:
2/2     # Division always give answer in decimal

1.0

In [77]:
name= "Ahsan"
name + "1"

'Ahsan1'

In [82]:
name +" Arshad"

'Ahsan Arshad'

In [85]:
name+= ' ' + "Arshad"

In [86]:
name

'Ahsan Arshad'

In [87]:
name

'Ahsan Arshad'

In [90]:
name + name

'Ahsan ArshadAhsan Arshad'

In [93]:
name *=2

In [94]:
name

'Ahsan ArshadAhsan ArshadAhsan ArshadAhsan Arshad'

In [96]:
str(num) + name

'6.0Ahsan ArshadAhsan ArshadAhsan ArshadAhsan Arshad'

In [100]:
float("2.3")  # Converts one data type to another which is called type casting.

2.3

In [103]:
float("Ahsan3")

ValueError: could not convert string to float: 'Ahsan3'

In [105]:
int(float("2.3"))   # Decimal point is truncated in Integer data type

2

In [110]:
str(1000@)

SyntaxError: invalid syntax (<ipython-input-110-5e2ae09b37d4>, line 1)

In [108]:
str('1000$')

'1000$'